@charset 'UTF-8';
body{ font:12px/1.5 Arial,宋体; padding: 0; margin: 0; color: #333;}
a{ text-decoration: none;}
a.hot{ color: #f69!important;}
a:hover{ color: #f69!important;}
a img{border: none!important;}
#con{}
#top{ height: 30px; border: 1px solid #eee;}
#top ul{ list-style: none; text-align: right; padding: 0; margin: 0;}
#top ul li{ display: inline-block; line-height: 30px;}
#top ul li a{ color: #666; padding:0 15px;}
#top a:hover{ color: #f69;}

/*顶部广告*/
#ad {
	width: 1200px;
	margin: 0 auto;
	display: none;
	position: relative;
	overflow: hidden;
}

.head{ height: 120px; width: 1200px; margin: 0 auto;}
.head .logo{ padding: 20px 0 0 10px; float: left;}
.head .head-search{ width: 500px; float: left; padding: 36px 0 0 145px;}
.head input{ padding: 0; margin: 0;}
.head form{ padding: 0; margin: 0;}
.m_head{ height: 60px; width: 960px; margin: 0 auto; }
#m_header{ border-bottom: 1px solid #ddd; padding: 20px; }

.head-search .ser_text{ height: 30px; float: left; border:1px solid #f69; text-indent: 1em;}
.hot-search{}
.hot-search ul{ list-style: none; padding: 0; margin: 0;}
.hot-search ul li{ display: inline-block;}
.hot-search ul li a{ color: #666; padding: 3px}
.hot-search ul li a:hover{ color: #f69;}

#topnav{ font-size: 14px; font-weight: bold; margin: 0; padding: 0; clear: both;}
#topnav li{ display: inline-block; float: left; line-height: 47px;}
#topnav li a{ color: #333; padding: 0 24px; display: block; text-decoration: none; text-align: center;}
#topnav li a:hover{ color: #f69;}
#topnav li:hover{ border-bottom: 2px solid #f69;}


#t-top{ width: 1200px; margin: 0 auto;}
#t-top a{ color: #666; padding-right: 15px;}

#header{ width: 100%; height: 200px; border-bottom: 1px solid #f69;}

#first{ height: 574px; width: 1200px; margin: 0 auto;}
#banner{ float: 960px; float: left;}
#banner .big{ width: 960px; height: 420px;}
#banner .small{ float: right; margin-top: 10px;}
#banner .small ul{ list-style: none; margin: 0; padding: 0;}
#banner .small ul li.first{ float: left; }
#banner .small ul li{ display: inline-block; margin-right: 10px;}
#banner .small img{ border: none;}

#content{width: 1200px; margin: 0 auto;}

#nav{ position: absolute; top: 49px; left: 0; width: 240px; width: 240px; background-color: #fff;}
#nav .nav-main{ border: 1px solid #e6e6e6; padding: 10px; height: 553px;}
#nav .nav-main h3{ color: #f69; font-size: 14px; margin: 0; line-height: 30px; height: 30px;}
#nav .nav-main a{ color: #666; padding-right: 20px;}
#nav .nav-main a.cata3{ padding-right: 10px; }
#nav .nav-main a:hover{ color: #f69;}
#nav .nav-content{ padding: 0 0 5px 0;}
#nav .nav-content .c2{ line-height: 24px; }
#nav .nav-content .c2 .cata2{ font-weight: bold; font-size: 12px; }
#nav .nav-content .c2 a{ font-size: 12px; display: inline; height: 24px; line-height: 24px; padding: 0; font-weight:normal; padding-right: 10px; }
li.home{ position: relative; }
#nav .nav-head{ height: 30px; line-height: 30px; }

#main{}
.clear{ clear: both;}
#main .module{ margin-top: 40px; width: 1200px; margin: 0 auto;}
#main .module .tit h2{ font-size: 20px;}
#main .module .tit h2 .subtit{ font-size: 12px; color: #999; padding: 0 10px; font-weight: normal;}
#main .content{ background-color: #f00;}
#main .content .img-list ul{ padding: 0; margin: 0; list-style: none;}
#main .content .img-list ul li{ display: inline-block; float: left; margin-right: 20px;}

.pro-list ul{ list-style: none; padding: 0; margin: 0;}
.pro-list ul li{ width: 224px; height: 405px; padding-bottom: 20px; display: inline-block; float: left; margin-right: 20px;}
.pro-list ul li.last{ margin-right: 0;}
.pro-list ul li a{ color: #333;}
.pro-list ul li a:hover{ color: #f69;}
.pro-list .p-price{ padding: 10px 0 5px 0;}
.pro-list .price{ font-size: 14px; color: #f69; font-weight: bold;}
.pro-list .zan{ float: right; color: #777;}


#footer{ background-color: #f5f5f5; border-top: 1px solid #ddd; height: 315px;}
#footer #fcon{ width: 1200px; margin: 0 auto; text-align: left;}
#fcon .mblock{ float: left; margin-right: 60px; padding: 40px 0 0 0; display: block;}
#fcon .tel{ width: 36px; height: 40px; float: left; background: url(../images/global_tel.png) no-repeat 0 0;}
#fcon .telphone{ font-weight: bold; font-size: 18px; width: 180px;}
#fcon .mblock h4{ font-size: 14px; margin: 0;}
#fcon .mblock h5{ font-size: 16px; margin: 0;}
#fcon .mblock ul{ list-style: none; padding: 0; margin: 0;}
#fcon .mblock ul li{ line-height: 24px;}
#fcon .mblock ul li a{ color: #666;}
#fcon .last{ margin-right: 0; text-decoration: right; float: right;}

.friendlinks{ height: 30px; border: 1px solid #e6e6e6; border-left: none; border-right: none; margin: 10px auto; line-height: 30px; width: 1200px;}
.friendlinks span{ float: left;}
.friendlinks .more{ float: right;}
.friendlinks .more a{ color: #666;}
.friendlinks ul{ list-style: none; margin: 0; padding: 0; float: left;;}
.friendlinks ul li{ display: inline-block; float: left; padding: 0 8px;}
.friendlinks ul li a{ color: #666;}
.friendlinks ul li a:hover{ color: #f69;}

.ffooter{ width: 1200px; margin: 0 auto; color: #666;}
.ffooter a{ color: #666;}
.article_l ul{ padding: 0; margin:0; list-style-position: inside; font-size: 13px; line-height: 24px;}
.article_l a{ color: #333; }
.article_l .more{ padding: 20px 0; }
.next_page{ padding: 20px 0; }
.next_page a{ color: #333; }
hr{ border: 1px solid #ddd; border-top: none; }

/*翻页*/
.page_num{ padding: 20px 0; text-align: center; font-size: 14px;}
.page_num span{ padding: 3px; }
.page_num .num a{border: 1px solid $aaa!important; padding: 5px; color: #f69;}
.page_num .active a{color: #333;}
.page_num a{ color: #f69; }

/*产品详情页*/
.product{}
.product .l_image{width: 400px; height: 600px; float: left;}
.product .r_description{ width:800px; float:left;}
.r_content{ padding-left: 20px; }
.pro_description{ width: 1200px; }
.p_block H2{ border-bottom: 1px solid #f69; }
.p_block{ margin-bottom: 20px; }
.p_block ul li.last{ margin:0; }
.p_block ul li{ list-style: none; margin-right: 20px; padding: 0; display: inline-block;}
.p_block ul{ padding: 0; margin: 0; }
.btn_buy{ width: 200px; height: 50px; display: inline-block; margin-right:20px; font-size: 20px; text-align: center; border: none; }
.buynow{ background-color: #ef2f23; color: #fff;}
a.buynow:hover{ color: #fff!important; }
.addcart{ border: 1px solid #ccc; color: #333;}
a.addcart:hover{ color: #333!important; }
.pro_block{ padding: 10px 0; }
.upload_icon{ background:url(../images/upload.png) no-repeat 0 0; }
.pay{ background-position: -38px -295px; width: 130px; height: 20px; float: left;}
.pro_tit{ float: left; color: #999; padding-right: 20px;}
.p_price{ color: #ef2f23; font-size: 24px; font-weight: 800; line-height: 30px; font-family: arial; }
.ppp .pro_tit{ line-height: 36px; }
.nums{ line-height: 36px; }
.nums_input{ width: 28px; height: 25px; padding: 0 5px; color: #000; line-height: 25px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-top: none; border-bottom: none; float: left; text-align: center;}
.nums_quality{ border: 1px solid #ddd; float: left; }
.reduce_nums{ background: url(../images/upload.png) no-repeat -3px 2px; }
.add_nums{ background: url(../images/upload.png) no-repeat -3px -78px; }
.nums_block{ width: 24px; height: 25px; float: left; display: inline-block; cursor: pointer; overflow: hidden;}
.nums_disable( opacity: 0.3);


/*注册登录*/
#m_content{ width: 960px; margin: 0 auto; }
input.regsiter{ border: none;}
.reg{ color: #666; }
.reg .form-reg{ width: 368px; color: #000; height: 34px; line-height: 34px; border: 1px solid #ddd; padding: 0 5px; display: block;}
.comment{ color: #ccc; height: 28px; display: block;}
.comment a{ color: #c00; }
.comment a:hover{ color: #000!important; text-decoration: underline; }
.u-promise{ background: url(../images/sprite.png) no-repeat -318px 0; margin-top:8px; margin-right:15px; width: 445px; height: 28px; display: block; float: right; }
.m_head .logo{ float: left; }

/*购物车*/
#c_content{ width: 1200px; margin: 20px auto;}
#c_header{ height: 145px; border-bottom: 1px solid #f69; }
.order_status{ padding: 8px 10px; width: 1178px; background-color: #eee; border: 1px solid #ddd; border-bottom: none;}
/*hr{ margin:0; padding: 0; border-bottom: 1px solid #ddd; }*/
th{ background-color: #ffa; }
#c_footer{ background-color: #f5f5f5; border-top: 1px solid #ddd; height: 80px; }
.required{ color: #c00; padding: 0 10px; }
.mycart input.control, .mycart textarea.control{ border: 1px solid #ccc; padding: 3px; }
.mycart input.control{ height: 24px; line-height: 24px; color: #000; }
.mycart table th{ border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;}
.mycart table td{ border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;}
.mycart table{ border: 1px solid #ddd; border-bottom: none; border-right: none; }
.clear_cart{ background-color: #f69; line-height: 24px; height: 24px; padding: 0 20px; float: left; display: block; color: #fff;}
a.clear_cart:hover{ color: #fff!important; background-color: #f39; }

/*产品页评价*/
.pro_review{ line-height: 24px; }
.pro_review b{ color: #f69; }
.pro_review img{ padding: 0; margin:0; }

/*幻灯片*/
.big #container { width: 960px; height: 420px; border: 0px solid #333; overflow: hidden; position: relative;}
.big #list { width: 5760px; height: 420px; position: absolute; z-index: 1;}
.big #list img { float: left;}
.big #buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 450px;}
.big #buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
.big #buttons .on {  background: orangered;}
.big .arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 200px; background-color: RGBA(0,0,0,.3); color: #fff;}
.big .arrow:hover { background-color: RGBA(0,0,0,.7);}
.big #container:hover .arrow { display: block;}
.big #prev { left: 20px;}
.big #next { right: 20px;}